body{
    color:blue;
    background:aqua;
}
.heading{
    width:80%;
    font-size:22px;

}
.name_of_objects,#result_object_name,#result_object_Accuracy{
     color:green;

}
#camera{
    border:2px dashed brown;
    width:350px;
    height:300px;
}